#include "resource.h"

// Toolbar icons (24x24 BMP, 24-bit color recommended)
// Place your .bmp files in src/manager/resources/
IDB_TOOLBAR_NEW_VM    BITMAP "resources/new_vm.bmp"
IDB_TOOLBAR_EDIT      BITMAP "resources/edit.bmp"
IDB_TOOLBAR_DELETE    BITMAP "resources/delete.bmp"
IDB_TOOLBAR_START     BITMAP "resources/start.bmp"
IDB_TOOLBAR_STOP      BITMAP "resources/stop.bmp"
IDB_TOOLBAR_REBOOT    BITMAP "resources/reboot.bmp"
IDB_TOOLBAR_SHUTDOWN  BITMAP "resources/shutdown.bmp"
